---
apiVersion: v1
kind: ConfigMap
metadata:
  name: config
  namespace: metallb-system
data:
  config: |
    adress-pools:
    - name: default
      protocol: layer2
      adresses:
        - {{ metallb_adresses }}